<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-Voting User-Error</title>
    <link rel="stylesheet" href="/css/error.css">
    <script src="https://kit.fontawesome.com/908e1d826a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="no-user">
        <i class="fas fa-user-slash"></i>
        <h1>User Not Found !</h1>
    </div>
</body>
</html>