@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
    background: url(../img/bg-about-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.navbar{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    z-index: 5;
}
.nav-left{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.nav-left .logo-overlay{
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: 60px;
    background-color: rgba(0,0,0,0.3);
}
.nav-left img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 60px;
}
.nav-mid{
    width: 30%;
}
.nav-right{
    width: 30%;
    display: flex;
    margin-left: 5%;
}
.nav-right a,#logout{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 1px;
    font-size: medium;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.nav-right a:hover{
    color: darkcyan;
}
.nav-right a:last-child{
    color: darkcyan;
}
.nav-right a:last-child:hover{
    color: whitesmoke;
}

.para-1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    letter-spacing: 1px;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 5%;
    font-size: 20px;
    line-height: 30px;
}
.para-2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    letter-spacing: 1px;
    width: 50%;
    position: absolute;
    top: 43%;
    left: 5%;
    font-size: 20px;
    line-height: 30px;
}
.para-3{
    font-family: 'Montserrat', sans-serif;
    color: white;
    letter-spacing: 1px;
    width: 50%;
    position: absolute;
    top: 63%;
    left: 5%;
    font-size: 20px;
    line-height: 30px;
}
.social{
    width: 20%;
    display: flex;
    position: absolute;
    bottom: 10%;
    left: 20%;
}
.social i{
    color: #006767;
    font-size: 30px;
    margin-left: 30px;
    z-index: 10;
}
.overlay{
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
}